@use "./variables" as *;

@mixin respond($size) {
  @if $size == xs {
    @media (min-width: $bp-xs) {
      @content;
    }
  } @else if $size == sm {
    @media (min-width: $bp-sm) {
      @content;
    }
  } @else if $size == md {
    @media (min-width: $bp-md) {
      @content;
    }
  } @else if $size == lg {
    @media (min-width: $bp-lg) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: $bp-xl) {
      @content;
    }
  }
}

@mixin container {
  padding: 0 $space-4;
  @include respond(sm) {
    padding: 0 $space-6;
  }
  @include respond(lg) {
    padding: 0 $space-8;
  }
  @include respond(xl) {
    padding: 0 $space-10;
  }
}
