:root {
  /* Backgrounds */
  --color-bg: oklch(0.975 0.004 83); /* #fbfbfb */
  --color-surface: oklch(1 0 0); /* #ffffff */
  --color-bg-disabled: oklch(96% 0.02 250);

  /* Text */
  --color-text-primary: oklch(0.478 0.068 239); /* #545f7d */
  --color-text-secondary: oklch(0.294 0.125 250); /* #213f7d */
  --color-text-inverse: oklch(1 0 0); /* #ffffff */

  /* Brand */
  --color-primary: oklch(0.741 0.201 180); /* #39cdcc */

  /* Borders */
  --color-border: oklch(0.9 0.02 250); /* #213f7d */

  /* States */
  --color-success: oklch(0.673 0.196 132); /* #39cd62 */
  --color-warning: oklch(0.658 0.159 100); /* #e9b200 */
  --color-danger: oklch(0.439 0.259 29); /* #e4033b */
}

[data-theme="dark"] {
  /* Backgrounds */
  --color-bg: oklch(0.125 0.003 80); /* darker bg */
  --color-surface: oklch(0.18 0.002 90); /* darker surface */

  /* Text */
  --color-text-primary: oklch(0.8 0.01 245); /* lighter text primary */
  --color-text-secondary: oklch(0.9 0.02 250); /* lighter text secondary */
  --color-text-inverse: oklch(0 0 0); /* black on dark surfaces */
  --color-text-placeholder: oklch(0.7 0.015 240);

  /* Brand */
  --color-primary: oklch(0.741 0.201 180);

  /* Borders */
  --color-border: oklch(0.4 0.05 250);

  /* States */
  --color-success: oklch(0.673 0.196 132);
  --color-warning: oklch(0.658 0.159 100);
  --color-danger: oklch(0.439 0.259 29);
}
